#Python-related
__pycache__/
*.py[cod]
*.swp
*.swo
.DS_Store

#env-related
.env
*.env

#venv-related
venv/
.env/
.venv

#IDE-related
.vscode/
*.code-workspace

#Package-cache-related
pip-log.txt
pip-delete-this-directory.txt

#cashe-related
.cache/
.cache